.DS_Store
GPUImageDemo.xcodeproj/project.xcworkspace/xcuserdata/casa.xcuserdatad/UserInterfaceState.xcuserstate
GPUImageDemo.xcodeproj/xcuserdata/casa.xcuserdatad/xcschemes/GPUImageDemo.xcscheme
GPUImageDemo.xcodeproj/xcuserdata/casa.xcuserdatad/xcschemes/xcschememanagement.plist
GPUImageDemo.xcworkspace/
Podfile.lock
Pods/
